input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="date"], 
input[type="number"],
input[type="radio"] {
	border: none;
	border-bottom: 2px solid #367b7d;
	border-radius: 0px;
	box-shadow: none;
	background-color: #212222;
	color: #D9D9D9;
}
input.white[type="text"],
input.white[type="email"], 
input.white[type="password"], 
input.white[type="date"], 
input.white[type="number"],
input.white[type="radio"]
 {
	background-color: white;
	/*border-bottom: 2px solid #8b8d8d;/*2#4c4d4d !important;*/
	color: #212222;
	background-color: white;
	border-bottom: 2px solid #cccccc;
	transition: all 0.5s ease;
	
}
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
input[type="date"]:focus, 
input[type="number"]:focus,
input[type="radio"]:focus {
	border-bottom: 2px solid #85c9cb;
	background-color: #262727;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 204, 204,.6);
}
input.white[type="text"]:focus,
input.white[type="email"]:focus, 
input.white[type="password"]:focus, 
input.white[type="date"]:focus, 
input.white[type="number"]:focus,
input.white[type="radio"]:focus {
	border-bottom: 2px solid #212222 !important;
	background-color: white;
}

input.white.filled-input[type="text"],
input.white.filled-input[type="email"], 
input.white.filled-input[type="password"], 
input.white.filled-input[type="date"], 
input.white.filled-input[type="number"],
input.white.filled-input[type="radio"]{
	border-bottom: 2px solid #85c9cb;
}

input.white.invalid-input[type="text"],
input.white.invalid-input[type="email"], 
input.white.invalid-input[type="password"], 
input.white.invalid-input[type="date"], 
input.white.invalid-input[type="number"],
input.white.invalid-input[type="radio"]{
	border-bottom: 2px solid #b30000;
}

input[type="submit"] {
	position: relative;
	z-index: 1;
}
input[type="submit"]::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #4eb1b1;
    z-index: -1;
    transition: transform 0.2s;
}
input[type="submit"]:hover::after {
	transform: scaleY(1);
}
button, a.btn {
	border: none;
	padding: 6px 12px;
	font-size: 16px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
    color: white;
    background-color: #5eb7ba;
	box-shadow: 0 0 1px 1px #e5e6e6;

	white-space: normal;
	transition: all 500ms ease; 
}
button:hover, a.btn:hover, a.btn.highlight:hover{
	color: black !important;
}
a.btn {
	display: inline-block !important;
}
button.dark {
	box-shadow: 0 0 0px 0px #e5e6e6;
}
button.highlight, a.btn.highlight {
    border-color: #ff9933;
    color: white;
    background-color: #ff9933;
}
button:before, a.btn:before {
	content:'';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0;
	height: 4px;
	background: black;
	opacity: 0.3;
	border-radius: 3px;
	transition: all 0.4s ease;
}
button:hover:before, a.btn:hover:before {
	width: 100%;
}
label {
	color: #85C9CB;
	font-size: 10pt;
	font-weight: lighter;
}
label.visible-inline {
	color: #212222;
}
label.white {
	color: #2B3A48;
}
label.form-label {
	opacity: 1;
	transition: opacity 200ms;
}
label.hidden-label {
	opacity: 0;
}
label.visible-label {
	color: #D9D9D9;
	font-size: 10pt;
}
label.visible-label.white {
	color: #212222;
}
div.form-group {
	margin-bottom: 5px;
}
legend {
	margin-bottom: 10px !important;
}

/* css para usar boostrap-select */
button.dropdown-toggle:before{
	background: transparent;
}

.select-icon{
	width: 20px;
}