a {
	display: block ;
	color: inherit ;
	text-decoration: inherit ;
	width: 100% ;
	height: 100% ;
}
hr {
	border-top: 1px solid #636665;
}
strong {
	font-weight: bold !important;
}
div.horizontal {
	display: flex;
	justify-content: center;
}
div.vertical {
	display: flex;
	flex-direction:  column;
	justify-content: center;
}
span.glyphicon.pull-right {
	margin-right: 20px;
}
span.glyphicon.pull-left {
	margin-left: 20px;
}
div.pull-left {
	float: left;
}
div.pull-right {
	float: right;
}
div.pull-left:after, div.pull-right:after {
	clear: both;
}
.bottom-right {
	position: absolute;
	right: 0;
	bottom: 0;
}
.bottom-center {
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translateX(-50%);
}
div.border-right:after, div.border-left:before {
	height: 70%;
	width: 2px;
	position: absolute;
	background: #CCCCCC;
	content: '';
}
div.border-left:before {
	left: 0;
}
div.border-right:after {
	right: 0;
}
.triangle-left{
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid #D9D9D9;
    border-bottom: 20px solid #D9D9D9;
}
#sidepanel {
	position: fixed;
	background: #2b3a48;
	background: -moz-linear-gradient(top, #2b3a48 0%, #212222 100%);
	background: -webkit-linear-gradient(top, #2b3a48 0%,#212222 100%);
	background: linear-gradient(to bottom, #2b3a48 0%,#212222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212222', endColorstr='#212222',GradientType=0 );
	width: 20vw;
	/*max-width: 20vw;
	min-width: 20vw;*/
	height: 100vh;
	transition: width 0.2s ease;
	overflow: hidden;
}
#sidepanel.expanded{
	width: 0vw;
}
#sidepanel a {
	display: block ;
	color: inherit ;
	text-decoration: inherit ;
	width: 100% ;
	height: 100% ;
}


#sidepanel-logo {
	height: 50px;
}
#sidepanel-logo img {
	/*width: 55px;
	height: 38px;*/
	margin-top: 5px;
	height: 80%;
}
#sidepanel-username, #sidepanel-menu {
	box-shadow: 
		inset 0 2px 1px -1px #0C0D0D,
		inset 0 -2px 1px -1px #0C0D0D !important;
}
#sidepanel-username {
	height: 40px;
	background-color: #212222;
	color: #85C9CB;
	text-align: center;
}
#sidepanel-username p {
	margin: 0px;
}
#sidepanel-info {
	margin-left: 20px;
}
#sidepanel-menu {
	background-color: #212222;
}
#sidepanel-menu span {
	color: #D9D9D9;
}
#sidepanel-info {
	overflow: auto;
	color: #D9D9D9;
	padding: 10px 0px;
}
#sidepanel-info img {
	height: 70px;
}
#sidepanel-info p {
	margin: 2px 10px
}
ul.sidepanel-list {
	list-style: none outside none;
	margin-left: 10px;
	padding: 0;
	color: #85C9CB;
}
li.sidepanel-list-item {
	padding: 10px 0px;
}
ul.sidepanel-list>div>li {
	padding: 10px 5px;
	background-color: #2F353C;
	border-left: 5px solid #367b7d;
	color: #D9D9D9;	
}
ul.sidepanel-list>div>li:hover {
	background-color: #383f47;
	border-left: 5px solid #85C9CB;
	color: #e6e6e6;	
}
#maincontent {
	background-color: #efefef;
	width: 80vw;
	height: 100vh;
	margin-left: 20vw;
	overflow-x: hidden;
	transition: width 0.2s ease;
	transition: margin-left 0.2s ease;
}
#maincontent.expanded{
	width: 100vw;
	margin-left: 0vw;
}
#toppanel {
	background-color: #2b3a48;
	border-bottom: 2px solid #24292E;
	width: 100%;
	height: 50px;
	color: white;
}
#toppanel #menuBtn{
	cursor: pointer;
}
#toppanel h2 {
	margin: 0px 0px 0px 0px;
	font-size: 18pt;
}
#toppanel>div:not(.nav) {
	margin-top: 10px;
}
#toppanel>div>a{
	width: 32px !important;
}
#toppanel #topProfileImg {
	width:  32px;
	height: 32px;
}
#toppanel>div>span {
	margin: 10 5px;
}
/*
#maincontent>div + div {
	background: #d9d9d9;
	background: -moz-linear-gradient(top, #d9d9d9 0%, #ffffff 18%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #d9d9d9 0%,#ffffff 18%,#ffffff 100%);
	background: linear-gradient(to bottom, #d9d9d9 0%,#ffffff 18%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#ffffff',GradientType=0 );
}
*/
/*#content>div {
	text-align: center;
}
#content>div>h1 {
	margin-top: 0px;
}*/
div.progress {
	margin: 0;
	padding: 0;
}
div.form-container {
	width: 40%;
	height: 80%;
	background-color: #2B3A48;
}

form {
	padding: 10px;
}
div#content form {
	width: 100%;
}
form:not(.form-active) {
	display: none;
}
div.form-row > div.form-col {
	padding-left: 0px;
	padding-right: 20px;
}
div.form-row > div.form-col + div.form-col {
	padding-right: 0px;
}
div.form-header {
	width: 100%;
	height: 100px;
	background-color: #212222;
	color: #D9D9D9;
	font-weight: bold;
}
div.form-header>div	{
	cursor: pointer;
	height: 100%;
}
div.form-header>div:hover {
	color: white !important;
}
div.form-header>div:not(.form-header-active) {
	box-shadow: 0 0 0 1px #323434 inset !important;
}
div.form-header>div:not(.form-header-active):hover {
	color: #85C9CB;
}
div.form-header-active {
	background-color: #2B3A48;
}
/*
#graph-container {
	margin: 50px 10px;
}
*/
div.status img {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}
div.status.status-ok {
	color: #006600;
}
div.status.status-alert {
	color: #ff9900;
}
div.status.status-danger {
	color: red;
}
div.status-help-container {
	display: none;
}
div.status-help {
	position: absolute;
	bottom: -30;
	right: -30px;
	width: 160px;
	height: 190px;
	border-radius: 0px;
	background-color: #f9f9f9;
	text-align: left;
	font-size: 9pt;
	padding: 10px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 204, 204,.6);
	border-radius: 5px;
	z-index: 10;
}
div.status-help img {
	height: 24px;
	margin-right: 4px;
}

div#progressInfo h5 {
	text-align: center;
}
div#fotoPerfil {
	margin-top: 20px;
}
div#fotoPerfil>div + div {
	height: 100px;
}
div#submitButton {
	height: 50px;
}

div.container-box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 1px #888888;
	padding: 20px;
}
/***************Dashboard******************/
div#content-info {
	width: 100%;
	padding: 50px 50px;
	text-align: center;
	background-color: white;
}
div#content-info > div.container-fluid {
	padding: 0;
	margin: 0;
	width: 100%;
}
div#content-info h4 {
	font-size: 14pt;
	margin-bottom: 10px;
}
div#content-info h1 {
	font-size: 16pt;
	font-weight: bold;
}

div#graph-container{
	background-color: white;
	padding: 50px 0px 80px 0px;
}

/******************************************/

/**********Informacion personal************/

div#progressInfo {
	margin: 20px 0px;
	padding: 0px 20px;
	height: 90px;
}
div#progressInfo div.progress {
	width: 90%;
	margin: auto;

}
div#progressInfo div.progress-bar {
	background-color: #85c9cb;
}

/******************************************/

/****************TIENDA********************/
div#storeContent {
	width: 100%;
	/*padding: 10px 50px;*/
	margin-bottom: 60px;
}
div#storeContent div.container {
	width: 100%;
}
nav.navbar button.highlight {
	padding: 3px;
	margin-top: 10px;
}
div#productoGrid {
	margin: 0px;
	margin-top: 30px;
}

div#toppanel > .nav div.navbar-right{
	margin-top: 5px; 
}

nav.navbar {
	background-color: transparent;
	border: none;
	border-radius: 0px;
	border-bottom: 2px solid #212222;
	color: #212222;
}

ul.navbar-nav>li>a {
	position: relative;
	z-index: 1;
	transition: color 0.3s ease;
}
ul.navbar-nav>li:hover {
	color: white;
}
.nav>li>a:focus,
.nav>li>a:hover{
	color: white;
	background-color: transparent;
}
ul.navbar-nav>li>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #212222;
	background: -moz-linear-gradient(top, #212222 0%, #85C9CB 1%, #4dafb3 100%);
	background: -webkit-linear-gradient(top, #212222 0%,#85C9CB 1%,#4dafb3 100%);
	background: linear-gradient(to bottom, #212222 0%,#85C9CB 1%,#4dafb3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212222', endColorstr='#85C9CB',GradientType=0 );
    z-index: -1;
    transition: transform 0.1s;
}
ul.navbar-nav>li>a:hover::after {
	transform: scaleY(1);
}
ul.navbar-nav>li>a {
	display: block !important;
}
a.navbar-brand {
	padding: 9px;
}
a.navbar-brand>img {
	height: 32px;
}
div.slide {
	/*height: 80%;*/
}
div.carousel-inner img {
	max-height: 300px;
	border-radius: 6px;
}

div.producto{
	margin-bottom: 30px;
}

div.producto > div.container-box{
	height: 275px;
}

div.producto p {
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-size: 14pt;
}
div.producto img {
	height: 128px;
}
p.precio {
	color: red;	
	font-weight: bold;
	font-size: 10pt !important;
	margin-top: 10px !important;
}
/*******************************************/

div#registroInfo {
	width: 100%;
	padding: 10px 50px;
	margin: auto;
}
div#progressInfo h4 {
	font-size: 16pt;
	margin-bottom: 10px;
}

/*****************Pagina Producto****************/
div#productoContent {
	padding: 10px 50px;
}
/*
div#productoContent div.producto-info {
	background-color: white; 
	margin-top: 30px;
	padding: 15px;
	box-shadow: 1px 1px 2px 1px #212222;
	text-align: center;
}
*/
div#productoContent div.producto-info form {
	text-align: center;
}
div#productoContent div.producto-info form input{
	width: 70px;
}
div#productoContent div.producto-info form button{
	margin-top: 20px;
}
div#productoContent div.producto-info p {
	font-size: 18pt;
	/*font-weight: bold;*/
	margin-bottom: 20px;
}
div#productoContent p.precio {
	font-size: 24pt !important;
	text-align: center;
}
div#productoContent p.descripcion {
	font-size: 14pt !important;
}
/************************************************/

/*********************Arbol**********************/
div#arbolContent {
	width: 100%;
	padding: 10px 50px; 
}
div#arbolContent img {
	width: 80px;
	height: 80px;
}
div#arbolContent h1 {
	font-size: 20pt;
}
/*
div#arbolContent>div.container-fluid>div.row>div + div {
	margin-top: 100px;
	padding: 15px;
	box-shadow: 1px 1px 2px 1px #212222;
}
*/
div#arbolContent>div.container-fluid>div.row>div + div p{
	margin-top: 10px;
}
div#arbolContent>div + div strong{
	font-size: 16pt;
	font-weight: bold;
}
/************************************************/

/*******************Carrito**********************/
div#carritoContent {
	padding: 10px 0px;
}
div#carritoContent table.carrito-tabla {
	width: 100%;
	margin: auto;
}
table.carrito-tabla tr {
	box-shadow: 0px 0px 2px 0px #212222;
}
table.carrito-tabla th {
	background: #212222;
	background: -moz-linear-gradient(top, #212222 0%, #2b3a48 1%, #212222 100%);
	background: -webkit-linear-gradient(top, #212222 0%,#2b3a48 1%,#212222 100%);
	background: linear-gradient(to bottom, #212222 0%,#2b3a48 1%,#212222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212222', endColorstr='#212222',GradientType=0 );
	color: white;
	text-align: center;
}
table.carrito-tabla th:first-of-type {
	border-top-left-radius: 4px;
}
table.carrito-tabla th:last-of-type {
	border-top-right-radius: 4px;
}
table.carrito-tabla td {
	padding: 10px;
}
table.carrito-tabla td.cell-eliminar {
	width: 50px;
	color: red;
}
table.carrito-tabla td.cell-imagen {
	width: 80px;
}
td.cell-producto {
	width: 300px;
}
td.cell-cantidad {
	width: 20px;
	text-align: center;
}
table.carrito-tabla td.cell-cantidad input {
	width: 60%;
	margin-left: 20px;
}
td.cell-precio,
td.cell-total {
	width: 50px;
	text-align: center;
}
table.carrito-tabla td.cell-imagen img {
	height: 50px;
}
td.cell-producto {
	text-decoration: underline;
}
div#carritoContent form {
	width: 100%;
	text-align: right;
}
div#carritoContent form > div:first-child{
	margin-bottom: 50px;
}
div#carritoContent form p {
	font-size: 10pt;
	margin: 5px 0px;
}
div#carritoContent form p strong {
	font-weight: bolder;
}
div#carritoContent form button, div#carritoContent form a.btn {
	margin-top: 20px;
}
/************************************************/

/*************Compras recientes******************/
/*div#comprasRecientesContent {
	width: 100%;
	padding: 10px 50px;
}*/
div#compras-container{
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
	padding: 0px;
	background-color: #2B3A48; 
	margin-top: 50px; 
	margin-bottom: 50px; 
}
div.compra-reciente {
	color: white;
	padding: 10px;
	/*border-radius: 4px;*/
	background-color: #2B3A48;
	/*margin-bottom: 20px;*/
}
div.compra-reciente:nth-child(odd) {
	color: white;
	background-color: #394d60;
}
div.compra-reciente > a {
	display: block ;
	color: inherit ;
	text-decoration: inherit ;
	width: 100% ;
	height: 100% ;
	cursor: pointer;
	text-align: right;
}
div.compra-reciente > a > .expand-icon{
	padding: 0px;
	text-align: right;
}

div.compra-reciente>div {
	margin-top:10px; 
	padding: 10px;
	color: white;
	background-color: #2B3A48;
}
div.compra-reciente:nth-child(even)>div{
	background-color: #394d60;
}

div.compra-reciente>div>table {
	width: 100%;
	background-color: #f6f6f6;
	border-radius: 4px;
    color: black;
    border: none;
    overflow: hidden;
}
div.compra-reciente>div>table + div {
	margin-top: 10px;
	font-size: 10pt;
	text-align: right;
}
div.compra-reciente>div>table + div p {
	margin-top: 10px;
}


/************************************************/

/***************Inscribir************************/
div#inscribirContent{
	padding: 30px 50px;
}
#frmInscribir{
	display: block;
}

#frmInscribir button[type="submit"]{
	margin-top: 10px;
}


/************************************************/