a {
	display: block !important;
	color: inherit !important;
	text-decoration: inherit !important;
	width: : 100% !important;
	height: 100% !important;
}
hr {
	border-top: 1px solid #636665;
}
div.horizontal {
	display: flex;
	justify-content: center;
}
div.vertical {
	display: flex;
	flex-direction:  column;
	justify-content: center;
}
span.glyphicon.pull-right {
	margin-right: 20px;
}
span.glyphicon.pull-left {
	margin-left: 20px;
}
div.pull-left {
	float: left;
}
div.pull-right {
	float: right;
}
div.pull-left:after, div.pull-right:after {
	clear: both;
}
.bottom-right {
	position: absolute;
	right: 0;
	bottom: 0;
}
.bottom-center {
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translateX(-50%);
}
div.border-right:after, div.border-left:before {
	height: 70%;
	width: 2px;
	position: absolute;
	background: #CCCCCC;
	content: '';
}
div.border-left:before {
	left: 0;
}
div.border-right:after {
	right: 0;
}
.triangle-left{
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid #D9D9D9;
    border-bottom: 20px solid #D9D9D9;
}
#sidepanel {
	position: fixed;
	background: #212222;
	background: -moz-linear-gradient(top, #212222 0%, #2b3a48 1%, #212222 100%);
	background: -webkit-linear-gradient(top, #212222 0%,#2b3a48 1%,#212222 100%);
	background: linear-gradient(to bottom, #212222 0%,#2b3a48 1%,#212222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212222', endColorstr='#212222',GradientType=0 );
	width: 20vw;
	max-width: 20vw;
	min-width: 20vw;
	height: 100vh;
}
#sidepanel-logo {
	height: 50px;
}
#sidepanel-logo img {
	/*width: 55px;
	height: 38px;*/
	margin-top: 5px;
	height: 80%;
}
#sidepanel-username, #sidepanel-menu {
	box-shadow: 
		inset 0 2px 1px -1px #0C0D0D,
		inset 0 -2px 1px -1px #0C0D0D !important;
}
#sidepanel-username {
	height: 40px;
	background-color: #212222;
	color: #85C9CB;
	text-align: center;
}
#sidepanel-username p {
	margin: 0px;
}
#sidepanel-info {
	margin-left: 20px;
}
#sidepanel-menu {
	background-color: #212222;
}
#sidepanel-menu span {
	color: #D9D9D9;
}
#sidepanel-info {
	overflow: auto;
	color: #D9D9D9;
	padding: 10px 0px;
}
#sidepanel-info img {
	height: 70px;
}
#sidepanel-info p {
	margin: 2px 10px
}
ul.sidepanel-list {
	list-style: none outside none;
	margin-left: 10px;
	padding: 0;
	color: #85C9CB;
}
li.sidepanel-list-item {
	padding: 10px 0px;
}
ul.sidepanel-list>div>li {
	padding: 10px 5px;
	background-color: #2F353C;
	border-left: 5px solid #367b7d;
	color: #D9D9D9;	
}
ul.sidepanel-list>div>li:hover {
	background-color: #383f47;
	border-left: 5px solid #85C9CB;
	color: #e6e6e6;	
}
#maincontent {
	background-color: white;
	width: 80vw;
	height: 100vh;
	margin-left: 20vw;
}
#toppanel {
	background-color: #EFEFEF;
	border-bottom: 2px solid #24292E;
	width: 100%;
	height: 50px;
}
#toppanel h2 {
	margin: 0px 0px 0px 0px;
	font-size: 18pt;
}
#toppanel>div {
	margin-top: 5px;
}
#toppanel>div>img {
	width:  32px;
	height: 32px;
}
#toppanel>div>span {
	margin: 10 5px;
}
#content {
	width: 100%;
	padding: 0px 50px;
}
/*#content>div {
	text-align: center;
}
#content>div>h1 {
	margin-top: 0px;
}*/
div.progress {
	margin: 0;
	padding: 0;
}
div.form-container {
	width: 40%;
	height: 80%;
	background-color: #2B3A48;
}
form {
	padding: 10px;
}
div#content form {
	width: 100%;
}
form:not(.form-active) {
	display: none;
}
div.form-row > div.form-col {
	padding-left: 0px;
	padding-right: 20px;
}
div.form-row > div.form-col + div.form-col {
	padding-right: 0px;
}
div.form-header {
	width: 100%;
	height: 100px;
	background-color: #212222;
	color: #D9D9D9;
	font-weight: bold;
}
div.form-header>div	{
	cursor: pointer;
	height: 100%;
}
div.form-header>div:hover {
	color: white !important;
}
div.form-header>div:not(.form-header-active) {
	box-shadow: 0 0 0 1px #323434 inset !important;
}
div.form-header>div:not(.form-header-active):hover {
	color: #85C9CB;
}
div.form-header-active {
	background-color: #2B3A48;
}
#graph-container {
	margin: 30px 10px;
}
div.status img {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}
div.status.status-ok {
	color: #006600;
}
div.status.status-alert {
	color: #ff9900;
}
div.status.status-danger {
	color: red;
}
div.status-help-container {
	display: none;
}
div.status-help {
	position: absolute;
	bottom: 0;
	right: -30px;
	width: 160px;
	height: 190px;
	border-radius: 0px;
	background-color: white;
	text-align: left;
	font-size: 9pt;
	padding: 10px;
	box-shadow: 2px 1px 1px 2px #212222;
}
div.status-help img {
	height: 24px;
	margin-right: 4px;
}
div#progressInfo {
	margin: 20px 0px;
	padding: 0px 20px;
	height: 90px;
}
div#progressInfo div.progress {
	width: 90%;
	margin: auto;
}
div#progressInfo h5 {
	text-align: center;
}
div#fotoPerfil {
	margin-top: 20px;
}
div#fotoPerfil>div + div {
	height: 100px;
}
div#submitButton {
	height: 50px;
}

/****************TIENDA********************/
div#storeContent div.container {
	width: 100%;
}
div#storeContent {
	width: 85%;
	padding: 0px 50px;
	margin: auto;
}
div#productoGrid {
	margin: 0px;
	margin-top: 20px;
}
nav.navbar {
	background-color: white;
	border: none;
	border-radius: 0px;
	border-bottom: 2px solid #212222;
	color: #212222;
}
ul.navbar-nav>li>a {
	position: relative;
	z-index: 1;
	transition: color 0.3s ease;
}
ul.navbar-nav>li:hover {
	color: white;
}
ul.navbar-nav>li>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #212222;
	background: -moz-linear-gradient(top, #212222 0%, #2b3a48 1%, #212222 100%);
	background: -webkit-linear-gradient(top, #212222 0%,#2b3a48 1%,#212222 100%);
	background: linear-gradient(to bottom, #212222 0%,#2b3a48 1%,#212222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212222', endColorstr='#212222',GradientType=0 );
    z-index: -1;
    transition: transform 0.1s;
}
ul.navbar-nav>li>a:hover::after {
	transform: scaleY(1);
}
ul.navbar-nav>li>a {
	display: block !important;
}
a.navbar-brand {
	padding: 9px;
}
a.navbar-brand>img {
	height: 32px;
}
form#frmBuscar {
	width: 200px !important;
}
form#frmBuscar {
	margin-top: 10px;
}
div.slide {
	/*height: 80%;*/
}
div.carousel-inner img {
	max-height: 300px;
	border-radius: 6px;
}
div.producto p {
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-size: 14pt;
}
div.producto img {
	height: 128px;
}
p.precio {
	color: red;	
	font-weight: bold;
	font-size: 10pt !important;
	margin-top: 10px !important;
}
/*******************************************/

/*****************Pagina Producto****************/
div#productoContent {
	padding: 10px;
}
div#productoContent>p {
	padding-left: 40px;
	font-size: 18pt;
	font-weight: bold;
}
div#productoContent div.producto-info {
}
div#productoContent p.precio {
	font-size: 24pt !important;
}
div#productoContent p.descripcion {
	font-size: 14pt !important;
}
/************************************************/

/*********************Arbol**********************/
div#arbolContent {
	width: 90%;
	margin: auto;
	margin-top: 20px;
}
div#arbolContent img {
	width: 80px;
	height: 80px;
}
div#arbolContent h1 {
	font-size: 20pt;
}
div#arbolContent>div + div {
	margin-top: 100px;
	padding: 15px;
	box-shadow: 1px 1px 2px 1px #212222;
}
div#arbolContent>div + div p{
	margin-top: 10px;
}
div#arbolContent>div + div strong{
	font-size: 16pt;
	font-weight: bold;
}
/************************************************/